:host {
    position:fixed;
    left: 0;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}


.temp, .day {
    margin: 0;
}

.temp {
   font-weight: bold;
}

.day {
    font-style: italic;
}

.local {
    text-align: center;
    margin: 0 10px 2px 10px;
    font-size: .9rem;
}

.center {
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: center;
} 